.content{
    font-family: Microsoft JhengHei;  
}

/*banner*/
.banner{
    margin: 0 auto;
    height: 350px;
    background-image: url(../images/Banner.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div{
        width: 1000px;
        background: rgba(0, 0, 0, 15%);
    }
    
    h1{
        font-size: 36pt;
        color: #fff;
        font-weight: 550;
        line-height: 48pt;
        padding: 24px;
    }
}